/**关闭**/
#WindowClose {
    -fx-background-image:url( ../images/window/window_close_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowClose:focused{
    -fx-background-image:url( ../images/window/window_close_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowClose:hover {
    -fx-background-image:url("../images/window/window_close_rollover.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowClose:pressed {
    -fx-background-image:url("../images/window/window_close_pressed.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

/**最小化**/
#WindowMin {
    -fx-background-image:url( ../images/window/window_min_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMin:focused{
    -fx-background-image:url( ../images/window/window_min_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMin:hover {
    -fx-background-image:url("../images/window/window_min_rollover.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMin:pressed {
    -fx-background-image:url("../images/window/window_min_pressed.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

/**最大化**/
#WindowMax {
    -fx-background-image:url( ../images/window/window_max_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMax:focused{
    -fx-background-image:url( ../images/window/window_max_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMax:hover {
    -fx-background-image:url("../images/window/window_max_rollover.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowMax:pressed {
    -fx-background-image:url("../images/window/window_max_pressed.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}


/**还原**/
#WindowRestore {
    -fx-background-image:url( ../images/window/window_restore_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowRestore:focused{
    -fx-background-image:url( ../images/window/window_restore_normal.png);
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowRestore:hover {
    -fx-background-image:url("../images/window/window_restore_rollover.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}

#WindowRestore:pressed {
    -fx-background-image:url("../images/window/window_restore_pressed.png");
    -fx-background-color:null;
    -fx-background-radius: 0;
}


.button {
    -fx-background-color:#38b9f4;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:focused{
    -fx-background-color:  rgba(197, 76, 95, 1);
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: rgba(16, 136, 184, 1);
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color:rgba(120, 120, 120, 1);
    -fx-background-radius: 0;
}

/**-----------------------滚动面板 start-----------------------------------------**/
.scroll-pane .viewport {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport:focused {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport:hover {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport:pressed {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane {
    -fx-background-color: null;
    -fx-background-insets: 0;
}

.scroll-pane:hover {
    -fx-background-color: null;
    -fx-background-insets: 0;
}

.scroll-pane:pressed {
    -fx-background-color: null;
    -fx-background-insets: 0;
}


.scroll-pane .corner {
    -fx-background-color: null;
    -fx-background-insets: 0;
}


.scroll-bar > .thumb{
    -fx-background-color: rgba(120,120,120,0.8);
    -fx-background-radius: 5, 5, 5, 5, 5;
}

.scroll-bar > .thumb:hover{
    -fx-background-color: rgba(90,90,90,0.8);
    -fx-background-radius: 5, 5, 5, 5, 5;
}

.scroll-bar > .thumb:pressed{
    -fx-background-color: rgba(70,70,70,0.8);
    -fx-background-radius: 5, 5, 5, 5, 5;
}

/*****/
.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: null;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:horizontal:hover {
    -fx-background-color: rgba(250,250,250,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:horizontal:pressed {
    -fx-background-color: rgba(220,220,220,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:horizontal:focused {
    -fx-background-color: rgba(230,230,230,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}



.scroll-pane > .scroll-bar:horizontal > .increment-button,
.scroll-pane > .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 0.166667em 0.25em 0.25em  0.25em; /** 2 3 3 3 **/
    -fx-background-color: rgba(1,1,1,0.1);
}


/*****/
.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: null;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:vertical:hover {
    -fx-background-color: rgba(250,250,250,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:vertical:pressed {
    -fx-background-color: rgba(220,220,220,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:vertical:focused {
    -fx-background-color: rgba(230,230,230,0.6);
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane > .scroll-bar:vertical > .increment-button,
.scroll-pane > .scroll-bar:vertical > .decrement-button {
    -fx-padding: 0.25em 0.25em 0.25em 0.166667em; /** 3 3 3 2 **/
}



/**-----------------------滚动面板 end-----------------------------------------**/









/*****************************************/

.web-view {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.web-view >.viewport{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.web-view >.scroll-pane ,.web-view >.scroll-pane >.viewport {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.web-view >.track-background{
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}


/*.scroll-pane  {
    -fx-background-color: null;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}

.scroll-pane .pane  {
    -fx-background-color: null;
    -fx-background-insets: 0 1 1 1, 1;
    -fx-padding: 0 1 0 1;
}*/

/*.scroll-bar {
    -fx-background-color: null;
}


.scroll-bar :hover{
    -fx-background-color: rgba(1,1,1,0.2);
}*/






/* The increment and decrement button CSS class of scrollbar 
.increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

 The main scrollbar **track** CSS class 
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

 The main scrollbar **thumb** CSS class which we drag every time (movable) 
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}*/





/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.check-box > .box{
    -fx-border-color: #858686;
    /*-fx-border-insets: 1,1,1,1;*/
    -fx-background-color: #ffffff;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0px, 0px, 0px, 0px;

    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-padding: 1;
}

.check-box:hover > .box{
    -fx-border-color:  #1a6cc7;
    /*-fx-border-insets: 1,1,1,1;*/
    /*-fx-border-width:2;*/
    -fx-color: -fx-hover-base;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.5 , 0 , 0 );
    /*-fx-padding: -0.5;*/
}

.check-box:selected > .box > .mark {
    /*-fx-background-image:url( ../images/checkbox/checkbox_selected_normal.png);*/
    /*-fx-background-color: null;*/
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
}

.check-box:selected > .box  {
    /*-fx-background-color: null;*/
    -fx-background-color: #4e8fe2;
    -fx-background-insets: 0;
}


.combo-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-border-color:#8e8e8e;
}

.combo-box:focused{
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 0;
    -fx-border-color:#369be7;
}

.combo-box:hover {
    -fx-background-color: #ececec;
    -fx-background-radius: 0;
    -fx-border-color:#2b62f2;
}

.combo-box:pressed {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 0;
    -fx-border-color:#37c7e6;
}





.context-menu {
    /*-fx-background-image:url( ../images/menu/menu_background.png);*/
    /*-fx-background-color: #858686;*/
    -fx-background-width: 25;
    -fx-background-radius: 0;

}
/*


.check-box:armed .box{
    -fx-color: -fx-pressed-base;

}

.check-box:focused > .box{
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}
.check-box:disabled{
     -fx-opacity: 0.4;
}

.check-box:show-mnemonics > .mnemonic-underline{
     -fx-stroke: -fx-text-base-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
}

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em;  0 0 0 5 
    -fx-text-fill: -fx-text-background-color;
}
.check-box > .box {
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 0.166667em 0.166667em 0.25em 0.25em;  2 2 3 3 
}
.check-box > .box > .mark {
    -fx-background-color: null;
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em;  5 5 6 6 
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
}
.check-box:indeterminate > .box {
    -fx-padding: 0;
}
.check-box:indeterminate  > .box > .mark {
    -fx-shape: "M0,0H10V2H0Z";
    -fx-scale-shape: false;
    -fx-padding: 0.666667em;  16x16 = 8+8 
}
*/